$grey: #969696;
$black: #000;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.widget {
    position: relative;
    width: 30vw;
    &__chart {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
        width: 65%;
    }
}

.inner {
    width: 80%;

    &__percent {
        margin-top: -0.5vh;
        margin-left: 1.5vw;
    }

    .big {
        font-size: 2.5vw;
    }
    .small {
        font-size: 2vw;
    }
}
.outer {
    &__percent {
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateX(120%);
    }

    .small {
        font-size: 1.5vw;
    }

}

.info {
    padding: 2vw;
    &__data {
        padding-bottom: 0.5vh;
    }

    .label {
        text-transform: uppercase;
        font-size: 1.5vw;
    }

    .stats {
        display: flex;
        gap: 1vw;
        align-items: center;
        font-size: 3vw;

        &__current {
            font-weight: bold;
            color: $black;
        }

        &__target {
            font-weight: bold;
            color: $grey;
        }
    }

    .slash {
        height: 2.5vw;
        width: 2vw;
        transform: translateY(10%);
    }
}
